
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Yrsa", serif;
}

.container {
    height: 445px;
    background-color: purple;
}

.box {
    border: 2px solid rgb(255, 255, 255);
    color: white;
    display: inline-block;
    /* transform: translate(134px, 56px) rotate(0.5turn); */
    transform-origin: 0;
    /* transform: scale(2, 2); */
    /* transform: scaleX(3);
    transform: scaleY(3); */
    /* transform: skew(4deg, 4deg); */
}

img {
    width: 455px;
    /* transition-property: width;
    transition-duration: 3s;
    transition-timing-function: ease-in; */
    transition: width 3s ease-in; /*shorthand prop */
}
